<div class="radio-container">
  <div class="radio-component">
    <div class="radio-component-header">
      <i class="fas fa-chevron-left"></i>
      <h2>STATIONS</h2>
      <i class="fas fa-power-off"></i>
    </div>
    <div class="radio-list"></div>
    <div class="radio-footer"></div>
  </div>
</div>
