body {
  font-family: "Work Sans", sans-serif;
  background-color: #101010;
}
.radio-container {
  width: 200px;
  margin: 100px auto;
}
.radio-component {
  z-index: 0;
  border-radius: 16px;
  width: 300px;
  overflow: hidden;
  margin: 10% auto;
}
.radio-component-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #4b8cf4;
  color: white;
}
.radio-component-header h2 {
  font-weight: 400;
}
i {
  cursor: pointer;
  color: white;
  padding: 0 24px;
  font-size: 20px;
}
.radio-list {
  background-color: #202020;
  padding: 10px 0;
}
.radio-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  cursor: pointer;
}
.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 80%;
  margin-left: 10%;
}
.radio-footer {
  background-color: #303030;
  height: 50px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4b8cf4;
  border-radius: 0 0 15px 15px;
}
.radio-footer h2 {
  font-size: 0.6em;
}
.currently-playing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
    color: white;
  }
}
.image-display {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
img {
  height: 90px;
  width: 90px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.sleep {
  z-index: 2 !important;
  float: left !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 300px !important;
  width: 300px !important;
  background-color: #202020 !important;
  border-radius: 0 0 16px 16px;
  color: lightgray;
  i {
    color: lightgray;
  }
}
.hide {
  display: none;
}
